<div class="card tile-panel w-100">
	<div class="card-body">
		<div class="common_heading">
			<h5>About the Company</h5>
			<hr />
		</div>
        <div class="row">
            <div class="col-md-2 mb-3">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><b>BSE:</b></td>
                            <td class="data-value">{{scriptViewAboutCompanyModel.bseCode}}  </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 mb-3">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><b>NSE:</b></td>
                            <td class="data-value">{{scriptViewAboutCompanyModel.nseCode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 mb-3">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><b>ISIN:</b></td>
                            <td class="data-value">{{scriptViewAboutCompanyModel.isinCode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 mb-3 ">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><b>IndustryName:</b></td>
                            <td class="data-value">{{scriptViewAboutCompanyModel.industryName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>
