  <nav class=" bg-light">
        <div class="ttape-root d-flex align-items-center">
            <div class="arrow arrow-left" (click)="scrollLeft()">
                <i class="icon-chevron-left"></i>
            </div>
            <marquee behavior="scroll" direction="left" scrollamount="5" class="marquee-style">
                <ng-container *ngFor="let item of headerGridModel?.nifty50">
                    <div class="ticker-item-root pointer relative" style="display: inline-block; margin: 0 20px;">
                        <span (click)="redirect(item.scriptId,item.nseCode)" class="cursor-pointer">{{item.nseCode }} </span>
                        <span class="price">{{ item.price | number: '1.2-2' }}</span>
                        <i [ngClass]="item.priceChange > 0 ? 'icon-price-up' : 'icon-price-down'"></i>
                        <span [ngClass]="item.priceChange > 0 ? 'change up' : 'change down'">{{ item.pricePercentage | number: '1.2-2'}}%</span>
                    </div>
                </ng-container>
            </marquee>
            <div class="arrow arrow-right" (click)="scrollRight()">
                <i class="icon-chevron-right"></i>
            </div>
        </div>    
  </nav>
  <header class="header-container">
    <div class="container-fluid d-grid gap-3 align-items-center header">
        <div class="d-flex align-items-center logo-wrapper">
            <a routerLink="dashboard" class="text-decoration-none dfa-logo">
                <i class="bi bi-bar-chart-line main-logo"></i>
            </a>
            <h4 class="main-header cursor-pointor" title="Portfolio Managment System" >PMS</h4>
        </div>
        <div class="w-100">
            <form class="w-100">
                <input
                id="script-dropdown"
                type="text"
                class="form-control shadow-sm mw-50"
                [(ngModel)]="selectedScript"
                [ngbTypeahead]="search"
                [inputFormatter]="formatter"
                [resultFormatter]="formatter"
                [editable]="false"
                (selectItem)="onScriptSelected($event)"
                name="script-dropdown"
                placeholder="Search Script..."
            />
            </form>
        </div>
        <div class="d-flex align-items-center">
            <div class="indicator-box ms-3 d-none d-lg-block">
                <div class="row  mx-1 d-flex flex-nowrap">
                    <div class="col-md-3 fw-bold  indicator-txt ">NIFTY</div>
                    <div class="col-md-3 fw-bold ">{{ headerModel.nifty }} </div>
                    <div class="col-md-3 text-{{headerModel.niftyDiff < 0 ? 'danger' : 'success'}} && text-{{headerModel.niftyPercentage < 0 ? 'danger' : 'success'}}  fw-bold">{{headerModel.niftyDiff | number}}{{'(' + (headerModel.niftyPercentage | number: '1.2-2') + '%)'}}</div>
                    <!-- <div class="col-md-3 text-{{headerModel.niftyPercentage < 0 ? 'danger' : 'success'}} ">{{'(' + (headerModel.niftyPercentage | number: '1.2-2') + '%)'}}</div> -->
                </div>
                <div class="row  mx-1 d-flex flex-nowrap">
                    <div class="col-md-3 fw-bold  indicator-txt">SENSEX</div>
                    <div class="col-md-3 fw-bold ">{{ headerModel.sensex }} </div>
                    <div class="col-md-3 text-{{headerModel.sensexDiff < 0 ? 'danger' : 'success'}} && text-{{headerModel.sensexPercentage < 0 ? 'danger' : 'success'}} fw-bold"> {{headerModel.sensexDiff | number}}{{'(' + (headerModel.sensexPercentage | number: '1.2-2') + '%)'}}</div>
                    <!-- <div class="col-md-3 text-{{headerModel.sensexPercentage < 0 ? 'danger' : 'success'}} ">{{'(' + (headerModel.sensexPercentage | number: '1.2-2') + '%)'}}</div> -->
                </div>
            </div>

            <div class="flex-shrink-0  dropdown">
                <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle ms-5" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="rounded-circle user-pic p-1 border border-white">
                        <img [src]="currentUser!.imageSrc" onerror="this.src='/assets/images/Avatar-1.png';" alt="" width="32" height="32" class="rounded-circle">
                    </div>
                    <div class="ms-3 user-info text-white d-none d-lg-block">
                        <div>{{ currentUser.firstName }} {{ currentUser.lastName }}</div>
                        <div class="small text-muted user-role">{{ currentUser.roleName }}</div>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                    <li>
                        <a class="dropdown-item" (click)="openProfileModal()">Profile</a>
                    </li>
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    <li><a class="dropdown-item" (click)="goToChangePassword()">Change Password</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true" [ngClass]="{'show': showProfileModal}" [ngStyle]="{display: showProfileModal ? 'block' : 'none'}" (click)="onBackdropClick($event)">
    <div class="modal-dialog" role="document" (click)="stopPropagation($event)">
        <div class="modal-content">
        <app-profile></app-profile>
        </div>
    </div>
</div>




  
  
  <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true" 
  [ngClass]="{'show': showModal}" 
  [ngStyle]="{display: showModal ? 'block' : 'none'}" 
  (click)="onBackdropClick($event)">

<div class="modal-dialog" role="document" (click)="stopPropagation($event)">
 <div class="modal-content">
   <!-- Modal Content (ChangePasswordComponent) -->
   <app-change-password (closeModal)="closeModal()"></app-change-password>
 </div>
</div>
</div>
