.red {
	color: red;
}

.green {
	color: green;
}

.report {
	display: contents;
}
.card {
	border: none;
}

.cursor-pointer {
	cursor: pointer;
}
.cursor-pointer:hover {
	color: blue;
	text-decoration: underline;
}

.filterButton {
    padding: 5px 5px ; 
    font-size: 15px  ; 
    border-radius: 0  ; 
    height: 33px  ; 
    width: 33px  ;
    border-radius: 3px;
    margin-top: -5px;          
}

.summary{
    min-height: 472px !important;
    height: auto;  
}
.popover-content {
    width: 250px;
}