<div class="row mb-80px">
    <div class="col-md-12">
        <app-script-view-range [id]="id"></app-script-view-range>
    </div>

    <div class="col-md-12">
        <app-script-view-overview [id]="id"></app-script-view-overview>
    </div>  

    <div class="col-md-12">
        <app-script-view-chart [id]="id"></app-script-view-chart>
    </div>

    <div class="col-md-12" >
        <app-script-view-peers [id]="id"></app-script-view-peers>
    </div>
    <div class="col-md-12">
        <app-script-view-corporateAction [id]="id"></app-script-view-corporateAction>
    </div>
    <div class="col-md-12">
        <app-script-view-about-company [id]="id"></app-script-view-about-company>
    </div>
</div>
