.nav-link.active {
	background-color: rgb(111, 106, 247);
	color: white;
	border-radius: 3px;
	padding: 8px 12px;
}
.navbar-nav-scroll {
    --bs-scroll-height: 100px;
}

.nav-link {
    cursor: pointer;
}

.nav-link.inactive {
    background-color: rgb(237, 242, 250); 
    color: #6c757d; 
}

.nav-item {
	margin-right: 10px;
}

.normal {
	color: black;
}

.red {
	color: red;
}

.green {
	color: green;
}

// .nav-tabs {
// 	margin-bottom: 0 !important;
// }

// .tab {
// 	margin-left: -27px;
// }

// .cursor-pointer {
// 	cursor: pointer;
// }
// .cursor-pointer:hover {
// 	color: blue;
// 	text-decoration: underline;
// }

// .action-column {
//     width: 50px !important;
// }
// .serchwatch{
// 	width: 250px; 
// 	margin-right: 15px;
// }

@media (max-width: 1142px) { 
    .nav-item {
        margin-bottom: 10px; 
    }
}
// }
// @media (max-width: 376px) { 
// 	.serchwatch{
// 		width: auto;
// 	}
// }