<div class="row">
    <div class="col-lg-12">
        <div class="card tile-panel w-100">
            <div class="card-header ms-2 d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-0">Watchlist</h4>

                <div class="mt-1 row w-100 align-items-center">
                    <div class="col-md-4 ms-3">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" *ngFor="let item of watchlist">
                                <a class="nav-link" [class.active]="item.id === activeTabId"
                                    [class.inactive]="item.id !== activeTabId" (click)="setActiveTab(item.id)"
                                    style="cursor: pointer">
                                    {{ item.name }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2 d-flex justify-content-start">
                        <button (click)="add()" class="btn btn-icon btn-tnx add-button tab"
                            [ngClass]="{ 'btn-outline-primary': access.canInsert, 'btn-outline-secondary': !access.canInsert }"
                            title="{{ access.canInsert ? 'Click here to add new record.' : 'You do not have add access of this page.' }}">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <form #watchlistForm="ngForm" novalidate>
                    <div class="d-flex align-items-center">
                        <div class="input-group header-button" style="width: 250px; margin-right: 15px">
                            <input id="script-dropdown" type="text" class="form-control" [(ngModel)]="selectedScript"
                                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter"
                                [editable]="false" name="script-dropdown" (selectItem)="onScriptSelected($event)" />
                        </div>
                        <button (click)="scriptSave()" class="btn btn-icon btn-tnx add-button "
                            [ngClass]="{ 'btn-outline-primary': access.canInsert, 'btn-outline-secondary': !access.canInsert }"
                            title="{{ access.canInsert 	? 'Click here to add new record.' 	: 'You do not have add access of this page.' }}">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card tile-panel w-100">
                <div class="card-body">
                    <div class="table-wrapper">
                        <div class="table-scroll">
                            <table class="table table-bordered table-hover">
                                <thead >
                                    <tr>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Volume</th>
                                        <th class="text-center">Open</th>
                                        <th class="text-center">Close</th>
                                        <th class="text-center">High</th>
                                        <th class="text-center">Low</th>
                                        <th class="text-center">52 Week High</th>
                                        <th class="text-center">52 Week Low</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of watchlistScriptTabModel"
                                        [ngClass]="{ 'selected-row': watchlistParameterModel.id == item.id }">
                                        <td class="cursor-pointer text-start" (click)="redirect(item.scriptId, item.name)"
                                            title="{{ item.name }}">
                                            {{ item.name }}
                                        </td>
                                        <td class="text-center" [ngClass]="getPriceChangeClass(item.oldPrice, item.price)">
                                            {{ item.price | number: '1.2-2' }}
                                        </td>
                                        <td class="text-center">{{ item.volume | number: '1.2-2' }}</td>
                                        <td class="text-center">{{ item.open | number: '1.2-2' }}</td>
                                        <td class="text-center">{{ item.close | number: '1.2-2' }}</td>
                                        <td class="text-center">{{ item.high | number: '1.2-2' }}</td>
                                        <td class="text-center">{{ item.low | number: '1.2-2' }}</td>
                                        <td class="text-center">{{ item.high52Week | number: '1.2-2' }}</td>
                                        <td class="text-center">{{ item.low52Week | number: '1.2-2' }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-outline-danger btn-icon" (click)="delete(item.id)"
                                                [ngClass]="{ 'btn-outline-danger': access.canDelete, 'btn-outline-secondary': !access.canDelete }"
                                                title="{{ access.canDelete ? 'Click to delete this record.' : 'You do not have delete access.' }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>