.form-signin {
    padding: 15px;
    height: auto;
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-60%);
    background: rgb(255 255 255 / 90%);
    border-radius: var(--border-radius-lr);
}

.g-captcha.is-invalid {
    border: 1px solid #dc3545;
    border-radius: var(--border-radius-sm);
}

.flex-centered {
    position: relative;
    height: 100vh;
    margin: auto;
    overflow: auto;
}
.form-floating > label {
	color: #434343;
}
.show-pwd {
	font-size: 1.25rem;
	cursor: pointer;
	color: #434343;
}
