<div class="card tile-panel w-100">
    <div class="card-body">
        <div class="common_heading">
            <h5>PEERS</h5>
            <hr />
        </div>
		<div class="table-wrapper">
			<div class="table-scroll">
				<table class="common-table common-table-bordered main-table">
					<thead>
						<tr>
							<th class="fixed text-start">Company Name</th>
							<th >Price</th>
							<th >% Chg</th>
							<th >MCap(Cr)</th>
							<th >TTM PE</th>
							<th >P/B</th>
							<th >ROE(%)</th>
							<th >1 Yr Perform(%)</th>
							<th >Net Profit(Rs.)</th>
							<th >Net Sales(Rs.)</th>
							<th >Debt to Equity</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of scriptViewPeersModel">
							<td class="text-start"><span>{{ item.name }}</span></td>
							<td>{{ item.price }}</td>
							<td>{{ item.percentageChange }}</td>
							<td>{{ item.marketCap }}</td>
							<td>{{ item.ttmpe }}</td>
							<td>{{ item.pb }}</td>
							<td>{{ item.roe }}</td>
							<td>{{ item.oneYearPerformance }}</td>
							<td>{{ item.netProfit }}</td>
							<td>{{ item.netSales }}</td>
							<td>{{ item.debtToEquity }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
    </div>
</div>
