

.common-table-bordered {
    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 1px;
    }
}
.common-table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
    
    :not(caption) > * > * {
        padding: 5px 8px;
    }

    tbody {
        vertical-align: inherit;
    }
}
.table-wrapper {
    width: 100%;
}
.table-scroll {
    position: relative;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 450px;
    border: 1px solid var(--bs-border-color);
}

.table-scroll th,
.table-scroll td {
    background: #fff;
    min-width: 100px;
    text-align: right;
    line-height: 19px;
}
.table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f8fafc;
    vertical-align: top;
    z-index: 1;
}

th.fixed {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    min-width: 150px !important;
    background-color: #f8fafc !important;
}

thead th.fixed {
    z-index: 5 !important;
}

tbody th.fixed {
    font-weight: 500;
}