
<div class="card tile-panel w-100">
    <div class="card-header">
        <h4 style="display: contents ;" class="card-title mb-0">Account</h4>
        <button (click)="add()" class="btn btn-icon btn-tnx float-end" [ngClass]="{'btn-outline-success':access.canInsert, 'btn-outline-secondary':!access.canInsert}"  title="{{access.canInsert ? 'Click here to add new record.' : 'You do not have add access of this page.'}}"><i class="fa fa-plus"></i></button>
        <div class="input-group float-end header-button" style="width:250px;">
            <input type="text" class="form-control shadow-sm" [(ngModel)]="accountParameter.name" placeholder="Search here..." />
            <button (click)="search()" class="btn btn-icon btn-tnx btn-outline-secondary"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered sort">
            <thead>
                <tr [id]="'script-list'">

                    <th (click)="sort('Name')" class="sort-header">
                        Name
                        <i class="fa" [ngClass]="{'fa-sort': (accountParameter.sortExpression != 'Name'), 'fa-sort-asc': (accountParameter.sortExpression == 'Name' && accountParameter.sortDirection == 'asc'), 'fa-sort-desc': (accountParameter.sortExpression == 'Name' && accountParameter.sortDirection == 'desc') }" aria-hidden="true"></i>
                    </th>
                    <th style="width:100px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of accountGrid?.accounts" (click)="accountParameter.id == item.id;" [ngClass]="{'selected-row': (accountParameter.id == item.id)}">
                    <td>{{item.name}}</td>

                    <td>
                        <button class="btn btn-icon btn-tnx" (click)="edit(item.id)" [ngClass]="{'btn-outline-primary':access.canUpdate, 'btn-outline-secondary':!access.canUpdate}"  title="{{access.canUpdate ? 'Click here to edit this record.' : 'You do not have edit access of this page.'}}"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-icon btn-tnx" (click)="delete(item.id)" [ngClass]="{'btn-outline-danger':access.canDelete, 'btn-outline-secondary':!access.canDelete}" title="{{access.canDelete ? 'Click here to delete this record.' : 'You do not have delete access of this page.'}}"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary">
        <div class="float-start card-header-controls">
            <select [(ngModel)]="accountParameter.pageSize" (change)="search()" class="form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
        </div>
        <div class="float-start total-records">Total Record(s) <strong>{{accountGrid.totalRecords}}</strong></div>
        <div class="float-end">
            <ngb-pagination [collectionSize]="accountGrid.totalRecords" [pageSize]="accountParameter.pageSize" [(page)]="accountParameter.pageIndex" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="search()"></ngb-pagination>
        </div>
    </div>
</div>
