<div class="card tile-panel">
    <div class="card-header">
        <h4 style="display: contents ;" class="card-title mb-0">PMS</h4>
        <button (click)="add()" class="btn btn-icon btn-tnx float-end" [ngClass]="{'btn-outline-success':access.canInsert, 'btn-outline-secondary':!access.canInsert}" title="{{access.canInsert ? 'Click here to add new record.' : 'You do not have add access of this page.'}}"><i class="fa fa-plus"></i>
        </button>
        <div class="input-group float-end header-button" style="width:250px;">
            <input type="text" class="form-control shadow-sm" [(ngModel)]="pmsParameter.name" placeholder="Search here..." />
            <button (click)="search()" class="btn btn-icon btn-tnx btn-outline-secondary">
                <i class="fa fa-search"></i></button>
        </div>
    </div>

    <div class="card-body">
        <div class="table-scroll">
            <table class="table table-hover table-bordered sort ">
                <thead>
                    <tr>
                        <th (click)="sort('Name')" class="sort-header text-start ">
                            Name
                            <i class="fa"
                                [ngClass]="{'fa-sort': (pmsParameter.sortExpression != 'Name'), 'fa-sort-asc': (pmsParameter.sortExpression == 'Name' && pmsParameter.sortDirection === 'asc'), 'fa-sort-desc': (pmsParameter.sortExpression == 'Name' && pmsParameter.sortDirection == 'desc') }"
                                aria-hidden="true"></i>
                        </th>
                        <th class="sort-header text-start">isActive?</th>
                        <th class="sort-header text-start">Type</th>
                        <th style="width:100px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pmsGrid?.pmss;">
                        <td class="text-start">{{item.name}}</td>
                        <td class="text-start">{{item.isActive}}</td>
                        <td class="text-start">{{item.type}}</td>
                        <td>
                            <button class="btn btn-icon btn-tnx" (click)="edit(item.id)" [ngClass]="{'btn-outline-primary':access.canUpdate, 'btn-outline-secondary':!access.canUpdate}"title="{{access.canUpdate ? 'Click here to edit this record.' : 'You do not have edit access of this page.'}}"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-icon btn-tnx" (click)="delete(item.id)" [ngClass]="{'btn-outline-danger':access.canDelete, 'btn-outline-secondary':!access.canDelete}" title="{{access.canDelete ? 'Click here to delete this record.' : 'You do not have delete access of this page.'}}"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        <div class="float-start card-header-controls">
            <select [(ngModel)]="pmsParameter.pageSize" (change)="search()" class="form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </div>
        <div class="float-start total-records">Total Record(s) <strong>{{pmsGrid.totalRecords}}</strong></div>
        <div class="float-end">
            <ngb-pagination [collectionSize]="pmsGrid.totalRecords" [pageSize]="pmsParameter.pageSize"
                [(page)]="pmsParameter.pageIndex" [maxSize]="5" [rotate]="true" [ellipses]="false"
                [boundaryLinks]="true" (pageChange)="search()"></ngb-pagination>
        </div>
    </div>
</div>