<!-- <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
  <button type="button" class="close float-end" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #changePasswordForm="ngForm" (ngSubmit)="Save(changePasswordForm.valid ?? false)">
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Current Password</label>
      <div class="input-group">
        <input type="{{showPassword.current}}" id="currentPassword" class="form-control"
          [(ngModel)]="userModel.OldPassword" name="currentPassword" required #currentPassword="ngModel">
        <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('current')">
          <i class="bi" [ngClass]="{'bi-eye-slash': showPassword.current === 'password', 'bi-eye': showPassword.current === 'text'}"></i>
        </button>
      </div>
      <div *ngIf="currentPassword.invalid && currentPassword.touched" class="text-danger">
        Current password is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <div class="input-group">
        <input type="{{showPassword.new}}" id="newPassword" class="form-control" [(ngModel)]="userModel.password"
          name="newPassword" required minlength="8" #newPassword="ngModel">
        <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('new')">
          <i class="bi" [ngClass]="{'bi-eye-slash': showPassword.new === 'password', 'bi-eye': showPassword.new === 'text'}"></i>
        </button>
      </div>
      <div *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
        New password is required and must be at least 8 characters long.
      </div>
      <div *ngIf="userModel.password === userModel.OldPassword && (newPassword.touched || changePasswordForm.submitted)"
        class="text-danger">
        New password cannot be the same as the old password.
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <div class="input-group">
        <input type="{{showPassword.confirm}}" id="confirmPassword" class="form-control"
          [(ngModel)]="userModel.confirmPassword" name="confirmPassword" required minlength="8"
          #confirmPassword="ngModel">
        <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('confirm')">
          <i class="bi" [ngClass]="{'bi-eye-slash': showPassword.confirm === 'password', 'bi-eye': showPassword.confirm === 'text'}"></i>
        </button>
      </div>
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="text-danger">
        Confirm password is required and must match the new password.
      </div>
      <div
        *ngIf="userModel.password !== userModel.confirmPassword && (confirmPassword.touched || changePasswordForm.submitted)"
        class="text-danger">
        Passwords do not match.
      </div>
    </div>
    <button type="submit" class="btn btn-primary me-2"
      [disabled]="!changePasswordForm.valid || userModel.password !== userModel.confirmPassword || userModel.password === userModel.OldPassword">Submit</button>
    <button type="button" class="btn btn-secondary ml-2" (click)="changePasswordForm.reset();">Clear</button>

  </form>
</div> -->

<div class="modal-header position-relative">
  <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
  <button type="button" class="close position-absolute top-0 end-0 btn" (click)="close()" aria-label="Close">
    <span aria-hidden="true">X</span>
  </button>
</div>

<div class="modal-body">
  <form #changePasswordForm="ngForm" (ngSubmit)="Save(changePasswordForm.valid ?? false)">
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Current Password</label>
      <div class="input-group">
        <input type="{{showPassword.current}}" id="currentPassword" class="form-control"
          [(ngModel)]="userModel.OldPassword" name="currentPassword" required #currentPassword="ngModel">
          <span class="input-group-text" (click)="togglePassword('current')" style="cursor: pointer;">
            <i class="bi" [ngClass]="{'bi-eye-slash': showPassword.current === 'password', 'bi-eye': showPassword.current === 'text'}"></i>
          </span>
      </div>
      <div *ngIf="currentPassword.invalid && currentPassword.touched" class="text-danger">
        Current password is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <div class="input-group">
        <input type="{{showPassword.new}}" id="newPassword" class="form-control" [(ngModel)]="userModel.password"
          name="newPassword" required minlength="8" #newPassword="ngModel">
          <span class="input-group-text" (click)="togglePassword('new')" style="cursor: pointer;">
            <i class="bi" [ngClass]="{'bi-eye-slash': showPassword.new === 'password', 'bi-eye': showPassword.new === 'text'}"></i>
          </span>
      </div>
      <div *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
        New password is required and must be at least 8 characters long.
      </div>
      <div *ngIf="userModel.password === userModel.OldPassword && (newPassword.touched || changePasswordForm.submitted)"
        class="text-danger">
        New password cannot be the same as the old password.
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <div class="input-group">
        <input type="{{showPassword.confirm}}" id="confirmPassword" class="form-control"
          [(ngModel)]="userModel.confirmPassword" name="confirmPassword" required minlength="8"
          #confirmPassword="ngModel">
          <span class="input-group-text" (click)="togglePassword('confirm')" style="cursor: pointer;">
            <i class="bi" [ngClass]="{'bi-eye-slash': showPassword.confirm === 'password', 'bi-eye': showPassword.confirm === 'text'}"></i>
          </span>
      </div>
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="text-danger">
        Confirm password is required and must match the new password.
      </div>
      <div
        *ngIf="userModel.password !== userModel.confirmPassword && (confirmPassword.touched || changePasswordForm.submitted)"
        class="text-danger">
        Passwords do not match.
      </div>
    </div>

    <div class="d-flex">
      <button type="submit" class="btn btn-primary me-2" [disabled]="!changePasswordForm.valid || userModel.password !== userModel.confirmPassword || userModel.password === userModel.OldPassword">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="changePasswordForm.reset();">Clear</button>
    </div>
  </form>
</div>
