<div class="flex-centered col-xl-3 col-lg-4 col-md-5 col-sm-7 col-10">
    <div class="form-signin w-100 m-auto tile-panel">
        <form #forgetPasswordForm="ngForm" novalidate>
            <h1 class="h3 mt-2 mb-2 fw-normal">Forget Password</h1>
            <p class="sub-title mb-2">Enter your email, phone, or username and we'll send you a link to get back into your account.</p>

            <hr>
                <div class="form-group text-start mb-3">
                    <label class="mb-2" for="email">Email address</label>
                    <input type="email" name="inputEmail" id="inputEmail" class="form-control shadow-sm size-lg" placeholder="Type email..." required/>
                </div>

                <button type="submit" class="btn btn-primary mt-2 me-1" (click)="save(forgetPasswordForm.valid ?? false)">Send</button>
                <button type="button" class="btn btn-outline-secondary mt-2" routerLink="/auth/login">Cancel</button>
        </form>
    </div>
</div>
