.avatar-container {
    text-align: center;
    
    .user-avatar {
        width: 205px;
        height: 205px;
        border-radius: 50%;
    }
    .user-name {
        color: var(--primary-active);
    }
    .email-text {
        color: #939393;
    }
}
.file.btn {
    position: relative;
    overflow: hidden;

    .user-avatar-file {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }
}
.bs-tooltip-bottom .tooltip-arrow {
    top: 1px;
}